<h1><%= @question.title %></h1>
<p> <%= @question.description %> </p>

<h3><%= @answers.empty? ? "No answers submitted for this question" : "Answers"%></h3>
<ul>
  <% @answers.each do |answer| %>
  <li><%= answer.answer %></li>
  <% end %>
</ul>

<h2>Submit a new answer for <%= @question.title %></h2>

<%= render 'answers/form' %>

<%= link_to "Edit Question", edit_question_path(@question) %>
<%= link_to "All Questions", questions_path %>
<%= link_to "DESTROY!!!! MUAHAHA", question_path(@question), method: :delete %>
